.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.front-page-projects {
	// border: 2px solid black;
	// padding: 1rem;
	padding: 3.125rem 0;
	margin-bottom: 3rem;
	background-color: rgb(46, 53, 68, 0.5);
	border-radius: 20px;
	// position: relative;
	max-width: 25rem;
	margin-left: auto;
	margin-right: auto;
	// margin-bottom: 3rem;

	&:last-child {
		margin-bottom: 0;
	}
}

.front-page-projects-container {
	max-width: 18.75rem;
	margin: 0 auto;
	height: 29.375rem;
	position: relative;
	


	button {
		position: absolute;
		bottom: 0;
	}
}

section {
	// background-image: url('icons/waves-1.svg');
	position: relative;
	// display: flex;
	// flex-direction: column;
	// align-items: center;
}

.spacer {
	aspect-ratio: 960/300;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}

.layer1 {
	background-image: url('icons/ptop4.svg');
}

.layer2 {
	background-image: url('icons/project-section-bottom.svg');

}

.tsunami {
	// aspect-ratio: 1920/300;
	// width: 100%;
	// height: auto;
	// overflow: hidden;
}

@media (min-width: 1000px){
	.spacer {
		aspect-ratio: 960/200;
	}

	.layer1 {
	background-image: url('icons/ptop3.svg');

	}

}

.home-about,
.home-contact {
	// max-width: 25rem;
	// margin: 0 auto;
	padding: 2rem;
}

// .home-about {
// 	background-color: #3c31dd;
// }

.blue {
	background-color: #3c31dd;
}

.red {
	background-color: #dd3f31;
}

.pink {
	background-color: #ff0066;
}

.dark {
	background-color: #0f0f10;
}

.dark-blue {
	background-color: #001220;
}

.blob-motion {
	position: absolute;
	transform: translate(25%, -60%);
	// width: 100%;
}

.wave-motion {
	// position: absolute;
	// width: 100%;
}