h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

#projects-section {
	text-align: center;

}

.home-projects h2 {
	margin-top: 0;
}

.front-page-projects {
	h3 {
		margin-top: 0;
	}
}


.home-contact {
	text-align: center;
}

.postid-20 {

	h1 {
		padding: 0 2rem;
	}
}



