.main-navigation {
	display: flex;
	width: 100%;
	align-items: center;
	position: fixed;
	bottom: 0;
	// background: #fff;
	padding: 1rem 0;

	// .menu-menu-1-container {
	// 	display: none;
	// }

	ul {
		// display: none;
		// visibility: hidden;
		display: flex;
		list-style: none;
		margin: 0;
		padding-left: 0;
		// transform: translate(-400px);
		// z-index: -5;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle {
	display: inline;
	text-decoration: none;
	border: none;
	background: #fff;
	z-index: 10;
}
.main-navigation.toggled {
	display: flex;
	align-items: center;

	ul {
		display: flex;
		transform: translate(67px);
		transition: transform 1s;
		// background-color: #000;
		visibility: visible;
		// transition: visibility 5s;
	}
	// li {
	// 	display: inline;
	// }

	a {
		margin-right: 1rem;
		// color: #fff;

	}
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

// Hamburger

.btn {
	position: fixed;
	// top: 50px;
	// right: 110px;
	// left: 1rem;
	// padding: 1rem;
	padding-left: 1rem;
	height: 27px;
	width: 35px;
	cursor: pointer;
	z-index: 100;
	transition: opacity .25s ease;
	// background-color: blue;
  }

  .hamburger-container {
	height: 50px;
	width: 50px;
	background-color: blue;
	bottom: 0;
	left: 0;
  }
  
  .btn span {
	background: #000;
	border: none;
	height: 5px;
	width: 100%;
	width: 35px;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .35s ease;
	cursor: pointer;
  }
  
  .btn .middle {
	top: 11px;
  }
  
  .btn .bottom {
	top: 22px;
  }
  
  .btn.active .top {
	transform: translateY(11px) translateX(0) rotate(45deg);
	background: #000;
  }
  
  .btn.active .middle {
	opacity: 0;
	background: #000;
  }
  
  .btn.active .bottom {
	transform: translateY(-11px) translateX(0) rotate(-45deg);
	background: #000;
  }
