button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		// border-color: $color__border-button-hover;
		background-color: #FCB514;
		transition: background-color 0.3s;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}

	border: none;
	background-color: #ff0066;
	border-radius: 20px;
	padding: 0.5 1rem;
	
}

.live-website-github {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
}

#home-arrow {
	fill: #3c31dd;
	// margin-top: 20rem;
	display: inline;

	path:hover {
		height: 40px;
	}

}

.menu-toggle {
	border-radius: 0;
}

.project-intro {
	button {
		background-color: #FCB514;
		transition: all 0.3s;

		&:hover {
			background-color: #4b064b;
		}

		a {
			color: #001220;

			&:hover {
				color: #fff;
			}
		}
	}
}