a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

.front-page-projects-container button {
	border: none;
	background-color: #ff0066;
	border-radius: 20px;
	padding: 0.5 1rem;
	
	a {
		color: #fff;
	}
}

a.button {
	color: #fff;
}
