a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

.front-page-projects-container button {
	border: none;
	background-color: #ff0066;
	border-radius: 20px;
	padding: 0.5 1rem;
	
	a {
		color: #fff;
	}
}

a.button {
	color: #fff;
}


// Home page arrow link
.arrow{
	display:inline-block;
	float:left;
	cursor:pointer;
	transform: rotate(90deg);
  }
  
  .arrow:before{
	content:'';
	height:4px;
	width:20px;
	background-color:#ff0066;
	display:block;
	float:left;
	position:relative;
	top:9px;
	transition:0.2s ease-in-out;
  }
  
  .arrow:after{
	content:'';
	float:left;
	border-left:11px solid #ff0066;
	border-right:11px solid transparent;
	border-top:11px solid transparent;
	border-bottom:11px solid transparent;
  }
  
  .arrow:hover:before{
	height:40px;
  }
